@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.dmid {
    width: 60%;
    font-family: "Inter", sans-serif;
    display: flex;
    margin-top: -145px;
    flex-direction: column;
    margin-left: 55px;
}

.dmid1 {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 5px 0;
}

.re {
    margin-left: 0px;
}

.re p {
    display: flex;
    align-items: center;
}


@media (max-width: 850px) {


    .d3{
        margin-left: 22px;
    }

    .di{
        margin-left: 22px;
    }
    .dmid {
        width: 90%;
        margin-top: 8px;
        margin-left: 33px;
    }

    h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .dmid1 p {
        font-size: 14px;
        line-height: 1.4;
        margin: 4px 0;
    }

    .dmid2 .spe{
        max-width: 100% !important;
    }

    .dmid1 {
        margin-bottom: 15px;
    }

    .re {
        margin-left: 0;
    }

    .re p {
        font-size: 14px;
        align-items: center;
    }
}
