@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.service-container{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  left: 3%;
  padding: 2%;
}

.service-list{
  display: flex;
  flex-direction: row;
  gap: 14px;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.service-list::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari and Opera */
}

.service-list a{
  margin-top: 14px;
  text-decoration: none;
  color:#7E7E7F;
  font-size: 20px;
  transition: all 0.3s ease;
}

.service-list a:hover{
  color: #000;
  text-decoration: underline;
}

.new-badge{
  background-color: #000;
  color: white;
  width: 75px;
  text-align: center;
  padding: 7px;
  border-radius: 32px;
  font-size: 20px;
  margin-top: 5px;
}

@media (max-width: 850px) {
  .service-container {
    left: 0;
    padding: 4%;
  }

  .service-container h1{
    font-size: 20px;
  }

  .service-list {
    overflow-x: auto; /* Ensures horizontal scrolling on touch devices */
  }

  .service-list a {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .new-badge {
    font-size: 10px;
    width: 50px;
    text-align: center;
    padding: 5px;
    height: 20px;
    margin-top: 11px;
  }
}